<app-stepper>
  <app-fetch ngProjectAs="urlSection">
    <app-youtube-url ngProjectAs="urlField"></app-youtube-url>
    <app-loading
      ngProjectAs="dataVisualisation"
      [loadingState]="loadingState$ | async"
    >
      <app-youtube-data></app-youtube-data>
    </app-loading>
  </app-fetch>
  <app-metadata ngProjectAs="metadataSection" [hideStep]="hideSteps$ | async">
    <app-youtube-image-cropper
      ngProjectAs="imageCropper"
    ></app-youtube-image-cropper>
    <app-youtube-metadata-form
      class="full-width"
      ngProjectAs="metadataForm"
    ></app-youtube-metadata-form>
  </app-metadata>
  <app-download ngProjectAs="downloadSection" [hideStep]="hideSteps$ | async">
    <app-youtube-format-selector
      ngProjectAs="formatSelector"
    ></app-youtube-format-selector>
    <app-youtube-preview-image
      ngProjectAs="previewImage"
    ></app-youtube-preview-image>
    <app-youtube-preview-data
      ngProjectAs="previewData"
    ></app-youtube-preview-data>
    <app-youtube-download-button
      ngProjectAs="downloadButton"
    ></app-youtube-download-button>
    <app-loading
      class="downloading-query"
      ngProjectAs="downloadingQuery"
      [loadingState]="downloading$ | async"
    ></app-loading>
  </app-download>
</app-stepper>
