<app-stepper firstStepLabel="Input soundcloud url">
  <app-fetch ngProjectAs="urlSection">
    <app-sc-url ngProjectAs="urlField"></app-sc-url>
    <app-loading
      ngProjectAs="dataVisualisation"
      [loadingState]="loadingState$ | async"
    >
      <app-sc-data></app-sc-data>
    </app-loading>
  </app-fetch>
  <app-metadata ngProjectAs="metadataSection" [hideStep]="hideSteps$ | async">
    <app-sc-image-picker ngProjectAs="imageCropper"></app-sc-image-picker>
    <app-sc-metadata-form
      class="full-width"
      ngProjectAs="metadataForm"
    ></app-sc-metadata-form>
  </app-metadata>
  <app-download ngProjectAs="downloadSection" [hideStep]="hideSteps$ | async">
    <app-sc-preview-image ngProjectAs="previewImage"></app-sc-preview-image>
    <app-sc-preview-data ngProjectAs="previewData"></app-sc-preview-data>
    <app-sc-download-button
      ngProjectAs="downloadButton"
    ></app-sc-download-button>
    <app-loading
      class="downloading-query"
      ngProjectAs="downloadingQuery"
      [loadingState]="downloading$ | async"
    ></app-loading>
  </app-download>
</app-stepper>
