<mat-stepper>
  <mat-step [label]="firstStepLabel">
    <div class="step-content">
      <ng-content select="urlSection"></ng-content>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </div>
  </mat-step>
  <mat-step label="Setup metadata">
    <div class="step-content">
      <ng-content select="metadataSection"></ng-content>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </div>
  </mat-step>
  <mat-step label="Choose format">
    <div class="step-content">
      <ng-content select="downloadSection"></ng-content>
    </div>
  </mat-step>
</mat-stepper>
