:host {
  margin: 32px;
  display: flex;
  flex-direction: column;

  .input-container {
    display: flex;
    flex-direction: row;
    .input-field {
      flex: 1;
      margin-right: 16px;
    }
  }
}
.data-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  .image-container {
    position: relative;
    border-radius: 12px;
    img {
      object-fit: cover;
      border-radius: inherit;
    }
  }
}
