<div class="input-container">
  <mat-form-field class="input-field" appearance="outline">
    <mat-label>Url</mat-label>
    <input matInput [formControl]="FormControl" />
    @if (FormControl.hasError('InvalidUrl')) {
    <mat-error>Invalid youtube url</mat-error>
    }
  </mat-form-field>

  <button mat-stroked-button (click)="getData()">Fetch data</button>
</div>
@if (loadingMetadata$ | async) {
<mat-progress-bar mode="query"></mat-progress-bar>
} @else if(data) {
<div class="data-container">
  @if (data.thumbnailUrl) {
  <div class="image-container">
    <!-- <img [ngSrc]="data.thumbnail" priority width="300" height="300" /> -->
    <app-image-cropper [base64Image]="data.thumbnailUrl"></app-image-cropper>
  </div>
  }
  <div>
    <span class="headline-large">
      {{ data.title }}
    </span>
    <br />
    <span class="headline-medium">
      {{ data.channel }}
    </span>
  </div>
  <mat-form-field>
    <mat-label>Audio formats</mat-label>
    <mat-select>
      @for (format of audioFormats; track $index) {
      <mat-option [value]="format">{{ format }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <button mat-flat-button>Download</button>
</div>
}
