/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;

$theme: mat.define-theme(
  (
    typography: (
      regular-weight: 600,
    ),
  )
);

@mixin getFont($font-scale) {
  font: mat.get-theme-typography($theme, $font-scale, font);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.headline-large {
  @include getFont(title-large);
}
.headline-medium {
  @include getFont(title-medium);
}
